<div class="planTomato">
  <div class="form">
    <input ng-model='task' type='text' ui-keypress="{13: 'addTask()'}"/>
    <button ng-click='addTask()' class='btn btn-primary'>Add Task</button>
  </div>
  <ul class="task-list">
    <li ng-repeat='task in tomato.tasks' class="row-fluid task">
      <span class="span10">
        {{task.name}}
      </span>
      <span class="span2">
        <a class="fui-cross" href="#" ng-click="tomato.removeTask($index)"></a>
      </span>
    </li>
  </ul>
</div>
