<div class="bottom-menu">
  <div class="container" style="margin:0 auto;">
    <div class="row" style="margin-top: 15px;">
      <div class="span4">
        &copy; Developed by <a href="http://samiurr.com">Samiur Rahman</a> 2013
      </div>
      <ul class="bottom-icons">
        <li>
          <a href="#" class="fui-facebook"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
