<div class="navbar navbar-static-top" ng-controller="NavigationCtrl">
  <div class="navbar-inner transparent" id="top-nav">
    <div class="container">
      <a href="#" class="brand">Pomodoro</a>
      <ul class="nav pull-left" ng-show="loggedIn">
        <li><%= link_to 'Dashboard', '/dashboard.html' %></li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown" ng-if="loggedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{currentUser.email}}
            <b class="caret"></b>
          </a>
          <i class="dropdown-arrow"></i>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="signOut()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
